
/* style.scss */

@import 'normalise';
@import 'colors';



body {
	background-color: $background-color;
}


.container {
	width: 800px;
	padding: 10px;
	margin: auto;
	background-color: $main-color;
}

h1 {
	color: $heading-color;
}

p {
	color: $text-body-color;
}

.col3 {
	columns: 100px 3;
	-webkit-columns: 100px 3; /* Safari and Chrome */
	-moz-columns: 100px 3; /* Firefox */
}

.featured-img {
	column-span: all;
	-webkit-column-span: all;
}

